<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SplitAndPopover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AE3939611F04A8EA00189238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3939751F04A8EA00189238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE3939801F04A8EB00189238</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
